body{
    background-color: rgb(2, 38, 39);
}
aside {
    float: left;
    background-color: rgb(119, 119, 119);
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: rgb(255, 255, 255);
    border-right: 5px solid #4d4;
}
aside img {
    width: 185px;
    float: left;
}
aside .logo {
    font-size: 40px;
    margin-left: 45px;
    margin-top: 60px;
    font-weight: bold;
    position: relative;
    bottom: -20px;
}
aside h3 {
    margin-top: 90px;
    margin-left: 20px;
    font-size: 30px;
}
aside ul {list-style: none;}
aside ul li {
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 12px;
    transition: all .4s ease;
}
aside ul li:hover, aside ul a:hover {
    color: #61fc61;
    text-decoration: rgb(255, 255, 255);
    transform: scale(1.1);
}
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}
form {
    margin-left: 35%;
    width: 500px;
    margin-top: 50px;
}